.container {
  padding: 25px;
  max-width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.scoreBox {
  background: white;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  margin-bottom: 20px;
}

.recommendList li {
  background: #eef7ff;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.doctorBtn {
  background: #0077ff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
